%ul.nav.nav-tabs.mb-3
  %li= link_to "General", admin_settings_path, class: "nav-link #{'active' if current_page?(admin_settings_path)}"
  %li= link_to "Styles", styles_admin_settings_path, class: "nav-link #{'active' if current_page?(styles_admin_settings_path)}"

= form_for(Setting.new, url: admin_settings_path) do |f|
  .card
    .card-header
      %h2.mb-0= params[:action] == 'index' ? 'General' : params[:action].titleize

    .card-body
      - if current_page?(styles_admin_settings_path)
        = render "admin/settings/styles", f: f
      - else
        = render "admin/settings/general", f: f

    .card-footer
      = f.submit 'Save', class: 'btn btn-primary'