%footer.mt-5.bg-dark
  .pad-section-xl
    .container
      .row
        .col-sm-4
          %blockquote.h1 We exist to build better software for startups, entrepreneurs, small-businesses, and those they serve.
        .col-sm-4
          %h3 Header Primary
          %ul.list-unstled
            %li= link_to 'Footer Link', '#'
            %li= link_to 'Footer Link', '#'
            %li= link_to 'Footer Link', '#'
            %li= link_to 'Footer Link', '#'
        .col-sm-4
          %h3 Header Secondary
          %ul.list-unstled
            %li= link_to 'Footer Link', '#'
            %li= link_to 'Footer Link', '#'
            %li= link_to 'Footer Link', '#'
            %li= link_to 'Footer Link', '#'
  .pad-section
    .text-center.text-italic
      Your friendly, neighborhood
      = link_to 'Polar Notion', 'https://www.polarnotion.com'
      %p= Setting.copyright_content
